n8n/backups/workflows/landing-paga-n8n_Iqv0m5qvt79evkIm.json
{
  "updatedAt": "2026-07-23T17:20:00.154Z",
  "createdAt": "2026-07-23T11:52:48.756Z",
  "id": "Iqv0m5qvt79evkIm",
  "name": "landing_paga_n8n",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "landing-page",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e8d3dd3e-641a-4a17-a883-0675f23c00db",
      "name": "Webhook",
      "webhookId": "a1efe286-d1c7-4787-9367-84fefc46a7f9"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Jully Ribas Aesthetics</title>\n\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap\" rel=\"stylesheet\">\n\n  <style>\n    :root {\n      --terracota: #8D5A48;\n      --rose: #C27864;\n      --rose-suave: #E8BDB0;\n      --areia: #F2E6DD;\n      --creme: #FBF6F1;\n      --dourado: #D4AF7A;\n      --marrom: #4A2E23;\n      --text: #4A2E23;\n      --muted: #8D5A48;\n      --radius: 18px;\n      --maxw: 1160px;\n      --font-display: \"Instrument Serif\", Georgia, serif;\n      --font: \"Bricolage Grotesque\", -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif;\n    }\n\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    html { scroll-behavior: smooth; }\n\n    ::selection { background: var(--rose); color: var(--creme); }\n\n    /* Cursor glow: follows pointer, ignored on touch/reduced-motion */\n    .cursor-glow {\n      position: fixed; top: 0; left: 0; width: 480px; height: 480px;\n      border-radius: 50%; pointer-events: none; z-index: 1;\n      background: radial-gradient(circle, rgba(212,175,122,.16), transparent 70%);\n      transform: translate(-50%, -50%);\n      opacity: 0; transition: opacity .4s ease;\n      will-change: transform;\n    }\n    @media (hover: none) { .cursor-glow { display: none; } }\n\n    body {\n      font-family: var(--font);\n      background: var(--creme);\n      color: var(--text);\n      line-height: 1.65;\n      -webkit-font-smoothing: antialiased;\n      overflow-x: hidden;\n    }\n\n    img { max-width: 100%; display: block; }\n    .container { width: 100%; max-width: var(--maxw); margin: 0 auto; padding: 0 24px; }\n\n    .icon { width: 1.25em; height: 1.25em; fill: currentColor; vertical-align: middle; flex-shrink: 0; }\n\n    a { color: inherit; }\n\n    /* ---------- Header ---------- */\n    header {\n      position: sticky; top: 0; z-index: 40;\n      background: rgba(251, 246, 241, 0.72);\n      backdrop-filter: blur(14px) saturate(1.4);\n      -webkit-backdrop-filter: blur(14px) saturate(1.4);\n      border-bottom: 1px solid rgba(141, 90, 72, 0.1);\n      transition: box-shadow .3s ease, border-color .3s ease;\n    }\n    header.is-scrolled {\n      box-shadow: 0 8px 30px -12px rgba(74,46,35,.18);\n      border-color: rgba(141, 90, 72, 0.16);\n    }\n    .nav {\n      display: flex; align-items: center; justify-content: space-between;\n      padding: 20px 0;\n      transition: padding .25s ease;\n    }\n    header.is-scrolled .nav { padding: 13px 0; }\n\n    .logo-mark {\n      display: flex; align-items: center; gap: 12px;\n      text-decoration: none;\n    }\n    .logo-mark img {\n      width: 46px; height: 46px; flex-shrink: 0;\n      border-radius: 50%;\n      object-fit: cover;\n      transition: transform .3s ease;\n    }\n    .logo-mark:hover img { transform: rotate(-4deg) scale(1.04); }\n    .logo-word {\n      font-family: var(--font-display);\n      font-size: 1.5rem;\n      font-style: italic;\n      color: var(--marrom);\n      letter-spacing: -.01em;\n      line-height: 1;\n    }\n    .logo-word span {\n      display: block;\n      font-family: var(--font);\n      font-style: normal;\n      font-size: .62rem;\n      font-weight: 600;\n      letter-spacing: .18em;\n      text-transform: uppercase;\n      color: var(--rose);\n      margin-top: 2px;\n    }\n\n    .nav-links { display: flex; gap: 8px; list-style: none; }\n    .nav-links a {\n      position: relative;\n      display: inline-block;\n      padding: 8px 4px;\n      text-decoration: none; font-size: .95rem; font-weight: 500;\n      color: var(--marrom);\n      transition: color .15s ease;\n    }\n    .nav-links a::after {\n      content: '';\n      position: absolute; left: 4px; right: 4px; bottom: 4px; height: 1.5px;\n      background: var(--rose);\n      transform: scaleX(0); transform-origin: left;\n      transition: transform .25s ease;\n    }\n    .nav-links a:hover { color: var(--rose); }\n    .nav-links a:hover::after { transform: scaleX(1); }\n    @media (max-width: 720px) { .nav-links { display: none; } }\n\n    .btn {\n      position: relative;\n      display: inline-flex; align-items: center; gap: 10px;\n      padding: 14px 28px; border-radius: 999px;\n      background: var(--terracota); color: var(--creme);\n      font-weight: 600; text-decoration: none; font-size: .95rem;\n      transition: transform .18s ease, box-shadow .18s ease, background .18s ease;\n      box-shadow: 0 8px 24px rgba(141, 90, 72, .25);\n      border: none; cursor: pointer;\n      overflow: hidden;\n    }\n    .btn::before {\n      content: '';\n      position: absolute; top: 0; left: -60%; width: 40%; height: 100%;\n      background: linear-gradient(120deg, transparent, rgba(255,255,255,.35), transparent);\n      transform: skewX(-20deg);\n      transition: left .6s ease;\n    }\n    .btn:hover::before { left: 130%; }\n    .btn:hover { transform: translateY(-2px); background: var(--rose); box-shadow: 0 12px 30px rgba(194, 120, 100, .35); }\n    .btn:focus-visible { outline: 3px solid var(--dourado); outline-offset: 3px; }\n    .btn-nav { padding: 11px 22px; font-size: .875rem; }\n    .btn-outline {\n      background: transparent; color: var(--terracota);\n      border: 1.5px solid var(--terracota); box-shadow: none;\n    }\n    .btn-outline:hover { background: var(--terracota); color: var(--creme); }\n\n    /* ---------- Hero ---------- */\n    .hero {\n      position: relative;\n      padding: 88px 0 110px;\n      overflow: hidden;\n    }\n    .hero-bg {\n      position: absolute; inset: 0;\n      background:\n        radial-gradient(ellipse 60% 50% at 85% 10%, rgba(212,175,122,.28), transparent 60%),\n        radial-gradient(ellipse 50% 60% at 10% 90%, rgba(194,120,100,.18), transparent 60%);\n      background-size: 140% 140%;\n      animation: bg-drift 16s ease-in-out infinite;\n      z-index: 0;\n    }\n    @keyframes bg-drift {\n      0%, 100% { background-position: 0% 0%, 0% 0%; }\n      50% { background-position: 8% 6%, -6% -8%; }\n    }\n    .hero-blob {\n      position: absolute; z-index: 0; border-radius: 50%; filter: blur(2px);\n      opacity: .5; pointer-events: none;\n    }\n    .hero-blob-1 {\n      width: 340px; height: 340px; top: -80px; right: 8%;\n      background: radial-gradient(circle at 30% 30%, var(--rose-suave), transparent 70%);\n      animation: blob-float 9s ease-in-out infinite;\n    }\n    .hero-blob-2 {\n      width: 220px; height: 220px; bottom: -40px; left: 4%;\n      background: radial-gradient(circle at 30% 30%, var(--dourado), transparent 70%);\n      animation: blob-float 11s ease-in-out infinite reverse;\n    }\n    @keyframes blob-float {\n      0%, 100% { transform: translate(0, 0) scale(1); }\n      50% { transform: translate(-18px, 22px) scale(1.08); }\n    }\n    .hero-grid {\n      position: relative; z-index: 1;\n      display: grid; grid-template-columns: 1.1fr .9fr; gap: 56px;\n      align-items: center;\n    }\n    @media (max-width: 900px) { .hero-grid { grid-template-columns: 1fr; gap: 40px; } }\n\n    .eyebrow {\n      display: inline-flex; align-items: center; gap: 8px;\n      font-size: .8rem; font-weight: 600; letter-spacing: .08em; text-transform: uppercase;\n      color: var(--rose); margin-bottom: 20px;\n    }\n    .eyebrow::before { content: ''; width: 28px; height: 1.5px; background: var(--dourado); }\n\n    .hero h1 {\n      font-family: var(--font-display);\n      font-size: clamp(2.6rem, 6vw, 4.4rem);\n      line-height: 1.05;\n      letter-spacing: -.01em;\n      color: var(--marrom);\n      font-weight: 400;\n    }\n    .hero h1 .word { display: inline-block; opacity: 0; transform: translateY(24px); animation: word-in .8s cubic-bezier(.22,1,.36,1) forwards; }\n    .hero h1 em { font-style: italic; color: var(--rose); font-weight: 400; }\n    @keyframes word-in { to { opacity: 1; transform: translateY(0); } }\n\n    .hero p.lead {\n      margin: 24px 0 32px;\n      font-size: 1.125rem;\n      color: var(--terracota);\n      max-width: 46ch;\n      opacity: 0; animation: fade-up .8s ease .5s forwards;\n    }\n    .hero-actions { opacity: 0; animation: fade-up .8s ease .7s forwards; }\n    @keyframes fade-up { from { opacity: 0; transform: translateY(14px); } to { opacity: 1; transform: translateY(0); } }\n\n    .hero-actions { display: flex; flex-wrap: wrap; gap: 14px; align-items: center; }\n    .hero-note { display: flex; align-items: center; gap: 8px; font-size: .875rem; color: var(--terracota); }\n\n    .hero-photo {\n      position: relative;\n      border-radius: 28px;\n      overflow: hidden;\n      aspect-ratio: 4/5;\n      box-shadow: 0 30px 60px -20px rgba(74, 46, 35, .35);\n      transition: transform .1s linear;\n    }\n    .hero-photo-inner { width: 100%; height: 110%; transition: transform .6s ease; }\n    .hero-photo img { width: 100%; height: 100%; object-fit: cover; }\n    .hero-photo:hover .hero-photo-inner { transform: scale(1.04); }\n    .hero-photo::after {\n      content: '';\n      position: absolute; inset: 0; border-radius: inherit;\n      box-shadow: inset 0 0 0 1px rgba(251,246,241,.25);\n      background: linear-gradient(180deg, rgba(74,46,35,0) 60%, rgba(74,46,35,.35));\n      pointer-events: none;\n    }\n    .hero-photo-badge {\n      position: absolute; bottom: 20px; left: 20px; right: 20px;\n      background: rgba(251,246,241,.92);\n      backdrop-filter: blur(6px);\n      border-radius: 14px;\n      padding: 14px 18px;\n      display: flex; align-items: center; gap: 12px;\n    }\n    .hero-photo-badge .avatar {\n      width: 40px; height: 40px; border-radius: 50%; overflow: hidden; flex-shrink: 0;\n    }\n    .hero-photo-badge .avatar img { width: 100%; height: 100%; object-fit: cover; }\n    .hero-photo-badge strong { display: block; font-size: .9rem; color: var(--marrom); }\n    .hero-photo-badge span { font-size: .78rem; color: var(--terracota); }\n\n    /* ---------- Stats ---------- */\n    .stats {\n      display: grid; grid-template-columns: repeat(3, 1fr); gap: 24px;\n      padding: 40px 0;\n      border-top: 1px solid rgba(141,90,72,.12);\n      border-bottom: 1px solid rgba(141,90,72,.12);\n    }\n    @media (max-width: 640px) { .stats { grid-template-columns: 1fr; gap: 28px; text-align: center; } }\n    .stat strong {\n      display: block; font-family: var(--font-display); font-size: 2.6rem; color: var(--terracota);\n      font-weight: 400;\n    }\n    .stat span { font-size: .875rem; color: var(--muted); }\n\n    /* ---------- Sections ---------- */\n    section { padding: 96px 0; }\n    @media (max-width: 640px) { section { padding: 64px 0; } }\n\n    .section-head { max-width: 640px; margin-bottom: 56px; }\n    .section-head h2 {\n      font-family: var(--font-display);\n      font-size: clamp(1.8rem, 3.6vw, 2.6rem);\n      color: var(--marrom);\n      font-weight: 600;\n      letter-spacing: -.01em;\n      margin-top: 12px;\n    }\n    .section-head p { color: var(--terracota); margin-top: 16px; font-size: 1.05rem; }\n    .section-head.center { margin-left: auto; margin-right: auto; text-align: center; }\n\n    /* ---------- Sobre ---------- */\n    .sobre { background: var(--areia); }\n    .sobre-grid {\n      display: grid; grid-template-columns: .85fr 1.15fr; gap: 64px; align-items: center;\n    }\n    @media (max-width: 900px) { .sobre-grid { grid-template-columns: 1fr; gap: 40px; } }\n    .sobre-photo {\n      border-radius: 24px; overflow: hidden; aspect-ratio: 3/4;\n      box-shadow: 0 24px 48px -16px rgba(74,46,35,.28);\n    }\n    .sobre-photo img { width: 100%; height: 100%; object-fit: cover; }\n    .sobre-text h2 {\n      font-family: var(--font-display); font-size: clamp(1.8rem, 3.4vw, 2.4rem);\n      color: var(--marrom); font-weight: 600; margin-bottom: 20px;\n    }\n    .sobre-text p { color: var(--terracota); margin-bottom: 16px; font-size: 1.05rem; }\n    .sobre-text p:last-of-type { margin-bottom: 28px; }\n    .assinatura-svg { width: 220px; height: 70px; overflow: visible; }\n    .assinatura-svg path {\n      fill: none; stroke: var(--rose); stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;\n      stroke-dasharray: 620; stroke-dashoffset: 620;\n    }\n    .assinatura-svg.is-visible path { animation: sign-draw 1.8s ease forwards .2s; }\n    @keyframes sign-draw { to { stroke-dashoffset: 0; } }\n    @media (prefers-reduced-motion: reduce) { .assinatura-svg path { stroke-dashoffset: 0; } }\n\n    /* ---------- Serviços ---------- */\n    .servicos-grid {\n      display: grid; grid-template-columns: repeat(3, 1fr); gap: 28px;\n    }\n    @media (max-width: 900px) { .servicos-grid { grid-template-columns: repeat(2, 1fr); } }\n    @media (max-width: 640px) { .servicos-grid { grid-template-columns: 1fr; } }\n\n    .servico-card {\n      position: relative;\n      background: var(--creme);\n      border: 1px solid rgba(141,90,72,.14);\n      border-radius: var(--radius);\n      padding: 32px 28px;\n      transition: transform .25s ease, box-shadow .25s ease, border-color .25s ease;\n      transform-style: preserve-3d;\n      will-change: transform;\n      overflow: hidden;\n    }\n    .servico-card .spotlight {\n      position: absolute; inset: 0; z-index: 0; opacity: 0;\n      background: radial-gradient(260px circle at var(--mx, 50%) var(--my, 50%), rgba(212,175,122,.22), transparent 65%);\n      transition: opacity .3s ease;\n    }\n    .servico-card:hover .spotlight { opacity: 1; }\n    .servico-card > * { position: relative; z-index: 1; }\n    .servico-card::before {\n      content: '';\n      position: absolute; inset: -2px; border-radius: calc(var(--radius) + 2px); z-index: -1;\n      background: linear-gradient(135deg, var(--dourado), var(--rose));\n      opacity: 0; transition: opacity .3s ease;\n    }\n    .servico-card:hover {\n      transform: translateY(-4px);\n      box-shadow: 0 24px 48px -20px rgba(141,90,72,.35);\n    }\n    .servico-card:hover::before { opacity: 1; }\n    .servico-icon {\n      width: 52px; height: 52px; border-radius: 14px;\n      background: linear-gradient(135deg, var(--rose-suave), var(--areia));\n      display: flex; align-items: center; justify-content: center;\n      color: var(--terracota); margin-bottom: 20px;\n      transition: transform .3s ease;\n    }\n    .servico-card:hover .servico-icon { transform: rotate(-6deg) scale(1.08); }\n    .servico-icon .icon { width: 26px; height: 26px; }\n    .servico-card h3 {\n      font-family: var(--font-display); font-size: 1.25rem; font-weight: 600;\n      color: var(--marrom); margin-bottom: 10px;\n    }\n    .servico-card p { color: var(--terracota); font-size: .95rem; }\n\n    /* ---------- Galeria (carrossel) ---------- */\n    .galeria { background: var(--areia); }\n    .carrossel { position: relative; }\n    .carrossel-track {\n      display: grid;\n      grid-auto-flow: column;\n      grid-auto-columns: calc((100% - 2 * 24px) / 3);\n      gap: 24px;\n      overflow-x: auto;\n      scroll-snap-type: x mandatory;\n      scroll-behavior: smooth;\n      padding-bottom: 8px;\n      -ms-overflow-style: none;\n      scrollbar-width: none;\n    }\n    .carrossel-track::-webkit-scrollbar { display: none; }\n    .carrossel-track.is-static {\n      grid-auto-flow: unset;\n      grid-template-columns: repeat(var(--slide-count, 3), 1fr);\n      overflow-x: visible;\n    }\n    .carrossel-item {\n      scroll-snap-align: start;\n      border-radius: 18px;\n      overflow: hidden;\n      position: relative;\n      display: block;\n      aspect-ratio: 4/5;\n    }\n    .carrossel-item::after {\n      content: '';\n      position: absolute; inset: 0;\n      background: linear-gradient(180deg, transparent 55%, rgba(74,46,35,.55));\n      opacity: 0; transition: opacity .3s ease;\n    }\n    .carrossel-item:hover::after { opacity: 1; }\n    .carrossel-item img {\n      width: 100%; height: 100%; object-fit: cover;\n      transition: transform .5s cubic-bezier(.22,1,.36,1);\n    }\n    .carrossel-item:hover img { transform: scale(1.06); }\n\n    .carrossel-nav {\n      display: flex; justify-content: center; align-items: center; gap: 20px;\n      margin-top: 28px;\n    }\n    .carrossel-btn {\n      width: 44px; height: 44px; border-radius: 50%;\n      background: var(--creme); border: 1px solid rgba(141,90,72,.2);\n      color: var(--terracota); cursor: pointer;\n      display: flex; align-items: center; justify-content: center;\n      transition: background .2s ease, color .2s ease, transform .2s ease;\n    }\n    .carrossel-btn:hover { background: var(--terracota); color: var(--creme); transform: translateY(-2px); }\n    .carrossel-btn:focus-visible { outline: 3px solid var(--dourado); outline-offset: 2px; }\n    .carrossel-btn .icon { width: 20px; height: 20px; }\n    .carrossel-btn[disabled] { opacity: .35; cursor: default; transform: none; }\n    .carrossel-btn[disabled]:hover { background: var(--creme); color: var(--terracota); }\n\n    .carrossel-dots { display: flex; gap: 8px; }\n    .carrossel-dot {\n      width: 8px; height: 8px; border-radius: 50%;\n      background: rgba(141,90,72,.25); border: none; cursor: pointer; padding: 0;\n      transition: background .2s ease, transform .2s ease;\n    }\n    .carrossel-dot.is-active { background: var(--terracota); transform: scale(1.3); }\n\n    @media (max-width: 900px) {\n      .carrossel-track { grid-auto-columns: calc((100% - 24px) / 2); }\n      .carrossel-track.is-static { grid-template-columns: repeat(2, 1fr); }\n    }\n    @media (max-width: 600px) {\n      .carrossel-track { grid-auto-columns: 84%; }\n      .carrossel-track.is-static { grid-template-columns: 1fr; }\n    }\n\n    /* ---------- Depoimentos ---------- */\n    .depoimentos-grid {\n      display: grid; grid-template-columns: repeat(3, 1fr); gap: 28px;\n    }\n    @media (max-width: 900px) { .depoimentos-grid { grid-template-columns: 1fr; } }\n    .depoimento-card {\n      position: relative;\n      background: var(--creme);\n      border-radius: var(--radius);\n      padding: 32px;\n      border: 1px solid rgba(141,90,72,.14);\n      transition: transform .25s ease, box-shadow .25s ease;\n      overflow: hidden;\n    }\n    .depoimento-card:hover { transform: translateY(-6px); box-shadow: 0 24px 48px -22px rgba(141,90,72,.3); }\n    .depoimento-card::before {\n      content: '\"';\n      position: absolute; top: -30px; right: 16px;\n      font-family: var(--font-display); font-size: 9rem; font-style: italic;\n      color: var(--areia); z-index: 0; line-height: 1;\n    }\n    .depoimento-card > * { position: relative; z-index: 1; }\n    .stars { display: flex; gap: 4px; color: var(--dourado); margin-bottom: 16px; }\n    .stars .icon { width: 18px; height: 18px; }\n    .depoimento-card p { color: var(--marrom); font-size: .98rem; margin-bottom: 20px; }\n    .depoimento-autor { display: flex; align-items: center; gap: 12px; }\n    .depoimento-autor .dot {\n      width: 40px; height: 40px; border-radius: 50%;\n      background: linear-gradient(135deg, var(--rose), var(--dourado));\n      display: flex; align-items: center; justify-content: center;\n      color: var(--creme); font-family: var(--font-display); font-weight: 600;\n    }\n    .depoimento-autor strong { display: block; font-size: .9rem; color: var(--marrom); }\n    .depoimento-autor span { font-size: .8rem; color: var(--terracota); }\n\n    /* ---------- CTA final ---------- */\n    .cta-final {\n      background: linear-gradient(135deg, var(--terracota), var(--marrom));\n      border-radius: 32px;\n      margin: 0 24px;\n      padding: 72px 40px;\n      text-align: center;\n      position: relative;\n      overflow: hidden;\n    }\n    .cta-final::before {\n      content: '';\n      position: absolute; inset: 0;\n      background: radial-gradient(ellipse 50% 80% at 50% 0%, rgba(212,175,122,.25), transparent 60%);\n    }\n    .cta-final-inner { position: relative; z-index: 1; max-width: 640px; margin: 0 auto; }\n    .cta-final h2 {\n      font-family: var(--font-display); font-size: clamp(1.8rem, 4vw, 2.6rem);\n      color: var(--creme); font-weight: 600; margin-bottom: 16px;\n    }\n    .cta-final p { color: var(--rose-suave); margin-bottom: 32px; font-size: 1.05rem; }\n    .cta-final .btn { background: var(--dourado); color: var(--marrom); }\n    .cta-final .btn:hover { background: var(--creme); }\n\n    /* ---------- Footer ---------- */\n    footer { padding: 56px 0 40px; }\n    .footer-grid {\n      display: flex; justify-content: space-between; align-items: center; gap: 24px;\n      flex-wrap: wrap;\n      padding-bottom: 32px; margin-bottom: 24px;\n      border-bottom: 1px solid rgba(141,90,72,.14);\n    }\n    .footer-social { display: flex; gap: 12px; }\n    .footer-social a {\n      width: 40px; height: 40px; border-radius: 50%;\n      display: flex; align-items: center; justify-content: center;\n      background: var(--areia); color: var(--terracota);\n      text-decoration: none; transition: background .15s ease, color .15s ease;\n    }\n    .footer-social a:hover { background: var(--terracota); color: var(--creme); }\n    .footer-bottom {\n      display: flex; justify-content: space-between; flex-wrap: wrap; gap: 12px;\n      font-size: .85rem; color: var(--terracota);\n    }\n\n    /* ---------- WhatsApp flutuante ---------- */\n    .wa-float {\n      position: fixed; bottom: 24px; right: 24px; z-index: 50;\n      width: 60px; height: 60px; border-radius: 50%;\n      background: #25D366; color: #fff;\n      display: flex; align-items: center; justify-content: center;\n      text-decoration: none;\n      box-shadow: 0 10px 30px rgba(37, 211, 102, .45);\n      animation: wa-pulse 2.4s ease-in-out infinite;\n    }\n    .wa-float .icon { width: 30px; height: 30px; }\n    .wa-float:hover { transform: scale(1.08); }\n    .wa-float:focus-visible { outline: 3px solid var(--dourado); outline-offset: 3px; }\n    @keyframes wa-pulse {\n      0%, 100% { box-shadow: 0 10px 30px rgba(37,211,102,.45); }\n      50% { box-shadow: 0 10px 30px rgba(37,211,102,.7), 0 0 0 10px rgba(37,211,102,.12); }\n    }\n\n    /* ---------- Reveal ---------- */\n    .reveal { opacity: 0; transform: translateY(18px); transition: opacity .7s ease, transform .7s ease; }\n    .reveal.is-visible { opacity: 1; transform: none; }\n\n    @media (prefers-reduced-motion: reduce) {\n      * { animation: none !important; transition: none !important; }\n      .reveal { opacity: 1; transform: none; }\n    }\n  </style>\n</head>\n<body id=\"top\">\n\n  <div class=\"cursor-glow\" id=\"cursorGlow\"></div>\n\n  <svg width=\"0\" height=\"0\" style=\"position:absolute\" aria-hidden=\"true\">\n    <symbol id=\"i-whatsapp\" viewBox=\"0 0 24 24\">\n      <path d=\"M19.05 4.91A9.82 9.82 0 0 0 12.04 2C6.58 2 2.13 6.45 2.13 11.91c0 1.75.46 3.45 1.32 4.95L2 22l5.25-1.38a9.86 9.86 0 0 0 4.78 1.22h.01c5.46 0 9.91-4.45 9.91-9.91 0-2.65-1.03-5.14-2.9-7.02ZM12.04 20.15h-.01a8.2 8.2 0 0 1-4.18-1.15l-.3-.18-3.11.82.83-3.04-.2-.31a8.2 8.2 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24 2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c0 4.54-3.69 8.23-8.23 8.23Z\"/>\n    </symbol>\n    <symbol id=\"i-arrow\" viewBox=\"0 0 24 24\">\n      <path fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M5 12h14M13 6l6 6-6 6\"/>\n    </symbol>\n    <symbol id=\"i-check\" viewBox=\"0 0 24 24\">\n      <path fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M20 6 9 17l-5-5\"/>\n    </symbol>\n    <symbol id=\"i-star\" viewBox=\"0 0 24 24\">\n      <path fill=\"currentColor\" d=\"m12 2 3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2Z\"/>\n    </symbol>\n    <symbol id=\"i-sparkle\" viewBox=\"0 0 24 24\">\n      <path fill=\"currentColor\" d=\"M12 2c.6 3.6 2.4 5.4 6 6-3.6.6-5.4 2.4-6 6-.6-3.6-2.4-5.4-6-6 3.6-.6 5.4-2.4 6-6Z\"/>\n    </symbol>\n    <symbol id=\"i-leaf\" viewBox=\"0 0 24 24\">\n      <path fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M4 20c8-1 12-6 14-14-8 1-13 5-14 14Zm0 0c1-4 3-7 6-9\"/>\n    </symbol>\n    <symbol id=\"i-droplet\" viewBox=\"0 0 24 24\">\n      <path fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linejoin=\"round\" d=\"M12 3s6 6.5 6 11a6 6 0 0 1-12 0c0-4.5 6-11 6-11Z\"/>\n    </symbol>\n    <symbol id=\"i-glow\" viewBox=\"0 0 24 24\">\n      <circle cx=\"12\" cy=\"12\" r=\"4\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\"/>\n      <path fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\" d=\"M12 2v3M12 19v3M4.2 4.2l2.1 2.1M17.7 17.7l2.1 2.1M2 12h3M19 12h3M4.2 19.8l2.1-2.1M17.7 6.3l2.1-2.1\"/>\n    </symbol>\n    <symbol id=\"i-calendar\" viewBox=\"0 0 24 24\">\n      <rect x=\"3\" y=\"5\" width=\"18\" height=\"16\" rx=\"2\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\"/>\n      <path stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\" d=\"M3 9h18M8 3v4M16 3v4\"/>\n    </symbol>\n    <symbol id=\"i-instagram\" viewBox=\"0 0 24 24\">\n      <rect x=\"3\" y=\"3\" width=\"18\" height=\"18\" rx=\"5\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\"/>\n      <circle cx=\"12\" cy=\"12\" r=\"4\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.8\"/>\n      <circle cx=\"17.2\" cy=\"6.8\" r=\"1.1\" fill=\"currentColor\"/>\n    </symbol>\n  </svg>\n\n  <header>\n    <div class=\"container nav\">\n      <a class=\"logo-mark\" href=\"#top\" aria-label=\"Jully Ribas Aesthetics home\">\n        <img src=\"https://i.ibb.co/Wp4jp2cN/logo.jpg\" alt=\"Jully Ribas Beauty &amp; Wellness logo\" />\n        <span class=\"logo-word\">Jully Ribas<span>Aesthetics</span></span>\n      </a>\n      <ul class=\"nav-links\">\n        <li><a href=\"#sobre\">About</a></li>\n        <li><a href=\"#servicos\">Treatments</a></li>\n        <li><a href=\"#galeria\">Gallery</a></li>\n        <li><a href=\"#depoimentos\">Reviews</a></li>\n      </ul>\n      <a class=\"btn btn-nav\" href=\"https://wa.me/353852573125?text=Hello%20Jully%2C%20I%27d%20like%20to%20book%20a%20consultation.\">\n        Book a consultation\n      </a>\n    </div>\n  </header>\n\n  <main>\n    <section class=\"hero\">\n      <div class=\"hero-bg\"></div>\n      <div class=\"hero-blob hero-blob-1\"></div>\n      <div class=\"hero-blob hero-blob-2\"></div>\n      <div class=\"container hero-grid\">\n        <div class=\"hero-copy\">\n          <span class=\"eyebrow\">Facial &amp; body aesthetics</span>\n          <h1><span class=\"word\" style=\"animation-delay:.05s\">Care</span> <span class=\"word\" style=\"animation-delay:.13s\">that</span> <span class=\"word\" style=\"animation-delay:.21s\">reveals</span> <span class=\"word\" style=\"animation-delay:.29s\"><em>your</em></span> <span class=\"word\" style=\"animation-delay:.37s\">natural</span> <span class=\"word\" style=\"animation-delay:.45s\">beauty</span></h1>\n          <p class=\"lead\">Personalised facial and body aesthetic protocols, hand-crafted by Jully Ribas, so you can look in the mirror and recognise yourself — only better.</p>\n          <div class=\"hero-actions\">\n            <a class=\"btn\" href=\"https://wa.me/353852573125?text=Hello%20Jully%2C%20I%27d%20like%20to%20book%20a%20consultation.\">\n              Book on WhatsApp\n              <svg class=\"icon\"><use href=\"#i-whatsapp\"/></svg>\n            </a>\n            <a class=\"btn btn-outline\" href=\"#servicos\">View treatments</a>\n          </div>\n          <div class=\"hero-note\" style=\"margin-top:28px;\">\n            <svg class=\"icon\" style=\"color: var(--dourado);\"><use href=\"#i-check\"/></svg>\n            Personalised consultation before every protocol\n          </div>\n        </div>\n        <div class=\"hero-photo reveal\">\n          <div class=\"hero-photo-inner\">\n            <img src=\"https://i.ibb.co/twkQnrtZ/kimia-kazemi-wYrnlhDQaIA-unsplash.jpg\" alt=\"Aesthetic treatment performed by Jully Ribas\" />\n          </div>\n          <div class=\"hero-photo-badge\">\n            <div class=\"avatar\">\n              <img src=\"https://i.ibb.co/Kp1xWxB3/Whats-App-Image-2026-07-15-at-23-26-38.jpg\" alt=\"Jully Ribas\" />\n            </div>\n            <div>\n              <strong>Jully Ribas</strong>\n              <span>Aesthetician</span>\n            </div>\n          </div>\n        </div>\n      </div>\n    </section>\n\n    <div class=\"container\">\n      <div class=\"stats reveal\">\n        <div class=\"stat\">\n          <strong data-count=\"500\" data-suffix=\"+\">0</strong>\n          <span>Treatments delivered</span>\n        </div>\n        <div class=\"stat\">\n          <strong data-count=\"100\" data-suffix=\"%\">0</strong>\n          <span>Personalised protocols</span>\n        </div>\n        <div class=\"stat\">\n          <strong data-count=\"5\" data-suffix=\"★\">0</strong>\n          <span>Client rating</span>\n        </div>\n      </div>\n    </div>\n\n    <section class=\"sobre\" id=\"sobre\">\n      <div class=\"container sobre-grid\">\n        <div class=\"sobre-photo reveal\">\n          <img src=\"https://i.ibb.co/vfqRBQC/pexels-gabrielpuyen-6135650.jpg\" alt=\"The aesthetics clinic space\" />\n        </div>\n        <div class=\"sobre-text reveal\">\n          <span class=\"eyebrow\">Who's looking after you</span>\n          <h2>Hello, I'm Jully</h2>\n          <p>I've worked in facial and body aesthetics for years, always guided by one simple principle: every skin tells a different story, so every protocol is built to measure.</p>\n          <p>You won't find off-the-shelf procedures here. Before any treatment comes listening, assessment and a care plan made for you — for your time, your skin and your goals.</p>\n          <svg class=\"assinatura-svg reveal\" viewBox=\"0 0 220 70\" aria-label=\"Jully Ribas signature\">\n            <path d=\"M14 14c4 22-2 40-8 44 8 4 16-4 18-16 2 10 8 16 16 14-6-8-4-20 2-26 0 14 8 22 18 20-8-6-6-22 2-28 2 16 10 24 20 22-10-8-8-24 0-30 4 18 14 26 26 22-10-6-10-22-2-30 6 14 18 20 30 16-8-4-12-16-8-26\"/>\n          </svg>\n        </div>\n      </div>\n    </section>\n\n    <section id=\"servicos\">\n      <div class=\"container\">\n        <div class=\"section-head reveal\">\n          <span class=\"eyebrow\">Treatments</span>\n          <h2>Protocols designed for every stage of your skin</h2>\n          <p>Modern techniques combined with individual attention, from the first consultation through to aftercare.</p>\n        </div>\n        <div class=\"servicos-grid\">\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-glow\"/></svg></div>\n            <h3>Deep skin cleanse</h3>\n            <p>Cleansing, exfoliation and extraction for visibly renewed, even-toned skin.</p>\n          </div>\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-sparkle\"/></svg></div>\n            <h3>Facial harmonisation</h3>\n            <p>Natural enhancement of facial contours, respecting your identity and proportions.</p>\n          </div>\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-droplet\"/></svg></div>\n            <h3>Hydration &amp; rejuvenation</h3>\n            <p>Protocols that restore radiance, firmness and glow to face and body skin.</p>\n          </div>\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-leaf\"/></svg></div>\n            <h3>Body aesthetics</h3>\n            <p>Contouring and body shaping treatments focused on gradual, healthy results.</p>\n          </div>\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-calendar\"/></svg></div>\n            <h3>Personalised consultation</h3>\n            <p>A care plan designed around your skin, your goals and your lifestyle.</p>\n          </div>\n          <div class=\"servico-card reveal\">\n            <div class=\"spotlight\"></div>\n            <div class=\"servico-icon\"><svg class=\"icon\"><use href=\"#i-check\"/></svg></div>\n            <h3>Ongoing aftercare</h3>\n            <p>Follow-up visits and protocol adjustments to keep your results lasting.</p>\n          </div>\n        </div>\n      </div>\n    </section>\n\n    <section class=\"galeria\" id=\"galeria\">\n      <div class=\"container\">\n        <div class=\"section-head reveal\">\n          <span class=\"eyebrow\">Gallery</span>\n          <h2>A glimpse of our space and work</h2>\n        </div>\n        <div class=\"carrossel reveal\">\n          <div class=\"carrossel-track\" id=\"carrosselTrack\">\n            <div class=\"carrossel-item\">\n              <img src=\"https://i.ibb.co/TNkmNkW/pexels-visen-group-2161585898-38194468.jpg\" alt=\"Aesthetics clinic ambience\" loading=\"lazy\" />\n            </div>\n            <div class=\"carrossel-item\">\n              <img src=\"https://i.ibb.co/vC4yD5LD/photo-1713085085470-fba013d67e65.avif\" alt=\"Facial aesthetic care\" loading=\"lazy\" />\n            </div>\n            <div class=\"carrossel-item\">\n              <img src=\"https://i.ibb.co/0PCRV0f/photo-1570172619644-dfd03ed5d881.avif\" alt=\"Aesthetic treatment\" loading=\"lazy\" />\n            </div>\n            <div class=\"carrossel-item\">\n              <img src=\"https://i.ibb.co/wFz7kj2D/pexels-roberto-colatosti-82254438-8826403.jpg\" alt=\"Client relaxing during treatment\" loading=\"lazy\" />\n            </div>\n          </div>\n          <div class=\"carrossel-nav\">\n            <button class=\"carrossel-btn\" id=\"carrosselPrev\" aria-label=\"Previous photos\">\n              <svg class=\"icon\" style=\"transform:rotate(180deg);\"><use href=\"#i-arrow\"/></svg>\n            </button>\n            <div class=\"carrossel-dots\" id=\"carrosselDots\"></div>\n            <button class=\"carrossel-btn\" id=\"carrosselNext\" aria-label=\"Next photos\">\n              <svg class=\"icon\"><use href=\"#i-arrow\"/></svg>\n            </button>\n          </div>\n        </div>\n      </div>\n    </section>\n\n    <section id=\"depoimentos\">\n      <div class=\"container\">\n        <div class=\"section-head center reveal\" style=\"margin-left:auto;margin-right:auto;\">\n          <span class=\"eyebrow\">Reviews</span>\n          <h2>Clients who've felt the difference</h2>\n        </div>\n        <div class=\"depoimentos-grid\">\n          <div class=\"depoimento-card reveal\">\n            <div class=\"stars\">\n              <svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg>\n            </div>\n            <p>\"I've never felt so well looked after. Jully explains every step and the results showed after the very first sessions.\"</p>\n            <div class=\"depoimento-autor\">\n              <div class=\"dot\">M</div>\n              <div><strong>Mariana S.</strong><span>Client for 8 months</span></div>\n            </div>\n          </div>\n          <div class=\"depoimento-card reveal\">\n            <div class=\"stars\">\n              <svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg>\n            </div>\n            <p>\"A welcoming space and care that feels made just for me. I recommend her without hesitation.\"</p>\n            <div class=\"depoimento-autor\">\n              <div class=\"dot\">C</div>\n              <div><strong>Camila R.</strong><span>Client for 1 year</span></div>\n            </div>\n          </div>\n          <div class=\"depoimento-card reveal\">\n            <div class=\"stars\">\n              <svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg><svg class=\"icon\"><use href=\"#i-star\"/></svg>\n            </div>\n            <p>\"Professional from start to finish. My skin has never been so healthy and glowing.\"</p>\n            <div class=\"depoimento-autor\">\n              <div class=\"dot\">P</div>\n              <div><strong>Patrícia L.</strong><span>Client for 5 months</span></div>\n            </div>\n          </div>\n        </div>\n      </div>\n    </section>\n\n    <section>\n      <div class=\"cta-final reveal\">\n        <div class=\"cta-final-inner\">\n          <h2>Ready to start your care journey?</h2>\n          <p>Message Jully on WhatsApp now and book your personalised consultation.</p>\n          <a class=\"btn\" href=\"https://wa.me/353852573125?text=Hello%20Jully%2C%20I%27d%20like%20to%20book%20a%20consultation.\">\n            Book on WhatsApp\n            <svg class=\"icon\"><use href=\"#i-whatsapp\"/></svg>\n          </a>\n        </div>\n      </div>\n    </section>\n  </main>\n\n  <footer>\n    <div class=\"container\">\n      <div class=\"footer-grid\">\n        <a class=\"logo-mark\" href=\"#top\" aria-label=\"Jully Ribas Aesthetics home\">\n          <img src=\"https://i.ibb.co/Wp4jp2cN/logo.jpg\" alt=\"Jully Ribas Beauty &amp; Wellness logo\" />\n          <span class=\"logo-word\">Jully Ribas<span>Aesthetics</span></span>\n        </a>\n        <div class=\"footer-social\">\n          <a href=\"https://wa.me/353852573125\" aria-label=\"WhatsApp\"><svg class=\"icon\"><use href=\"#i-whatsapp\"/></svg></a>\n          <a href=\"https://instagram.com\" aria-label=\"Instagram\"><svg class=\"icon\"><use href=\"#i-instagram\"/></svg></a>\n        </div>\n      </div>\n      <div class=\"footer-bottom\">\n        <span>© 2026 Jully Ribas Aesthetics. All rights reserved.</span>\n        <span>Made with care to reveal your natural beauty.</span>\n      </div>\n    </div>\n  </footer>\n\n  <a class=\"wa-float\" href=\"https://wa.me/353852573125?text=Hello%20Jully%2C%20I%27d%20like%20to%20book%20a%20consultation.\" aria-label=\"Message us on WhatsApp\">\n    <svg class=\"icon\"><use href=\"#i-whatsapp\"/></svg>\n  </a>\n\n  <script>\n    const reduceMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;\n\n    // Reveal on-scroll\n    const obs = new IntersectionObserver((entries) => {\n      entries.forEach(e => { if (e.isIntersecting) { e.target.classList.add('is-visible'); obs.unobserve(e.target); } });\n    }, { threshold: 0.15 });\n    document.querySelectorAll('.reveal').forEach(el => obs.observe(el));\n\n    // Animated stat counters, triggered once when in view\n    const counters = document.querySelectorAll('[data-count]');\n    const countObs = new IntersectionObserver((entries) => {\n      entries.forEach(entry => {\n        if (!entry.isIntersecting) return;\n        countObs.unobserve(entry.target);\n        const el = entry.target;\n        const target = parseInt(el.dataset.count, 10);\n        const suffix = el.dataset.suffix || '';\n        if (reduceMotion) { el.textContent = target + suffix; return; }\n        const duration = 1400;\n        const start = performance.now();\n        const step = (now) => {\n          const progress = Math.min((now - start) / duration, 1);\n          const eased = 1 - Math.pow(1 - progress, 3);\n          el.textContent = Math.round(target * eased) + suffix;\n          if (progress < 1) requestAnimationFrame(step);\n        };\n        requestAnimationFrame(step);\n      });\n    }, { threshold: 0.5 });\n    counters.forEach(el => countObs.observe(el));\n\n    // Cursor glow follows pointer (desktop only)\n    const glow = document.getElementById('cursorGlow');\n    if (glow && !reduceMotion) {\n      window.addEventListener('pointermove', (e) => {\n        glow.style.opacity = '1';\n        glow.style.transform = `translate(${e.clientX}px, ${e.clientY}px) translate(-50%, -50%)`;\n      });\n      window.addEventListener('pointerleave', () => { glow.style.opacity = '0'; });\n    }\n\n    // Spotlight tracking on service cards\n    if (!reduceMotion) {\n      document.querySelectorAll('.servico-card').forEach(card => {\n        card.addEventListener('pointermove', (e) => {\n          const rect = card.getBoundingClientRect();\n          card.style.setProperty('--mx', `${e.clientX - rect.left}px`);\n          card.style.setProperty('--my', `${e.clientY - rect.top}px`);\n        });\n      });\n    }\n\n    // Gallery carousel: scroll-snap track driven by prev/next buttons + dots\n    (function () {\n      const track = document.getElementById('carrosselTrack');\n      const prevBtn = document.getElementById('carrosselPrev');\n      const nextBtn = document.getElementById('carrosselNext');\n      const dotsWrap = document.getElementById('carrosselDots');\n      if (!track || !prevBtn || !nextBtn || !dotsWrap) return;\n\n      const items = Array.from(track.children);\n\n      // With 3 or fewer photos everything fits on screen at once: lay them\n      // out as a static row instead of a scrollable track, and skip nav.\n      if (items.length <= 3) {\n        track.classList.add('is-static');\n        track.style.setProperty('--slide-count', String(items.length));\n        const nav = document.querySelector('.carrossel-nav');\n        if (nav) nav.style.display = 'none';\n        return;\n      }\n\n      items.forEach((_, i) => {\n        const dot = document.createElement('button');\n        dot.className = 'carrossel-dot';\n        dot.setAttribute('aria-label', `Go to photo ${i + 1}`);\n        dot.addEventListener('click', () => {\n          items[i].scrollIntoView({ behavior: reduceMotion ? 'auto' : 'smooth', inline: 'start', block: 'nearest' });\n        });\n        dotsWrap.appendChild(dot);\n      });\n      const dots = Array.from(dotsWrap.children);\n      const nav = document.querySelector('.carrossel-nav');\n\n      const updateUI = () => {\n        const maxScroll = track.scrollWidth - track.clientWidth;\n        const hasOverflow = maxScroll > 4;\n        if (nav) nav.style.display = hasOverflow ? 'flex' : 'none';\n        if (!hasOverflow) return;\n        prevBtn.disabled = track.scrollLeft <= 4;\n        nextBtn.disabled = track.scrollLeft >= maxScroll - 4;\n        const activeIndex = Math.round(track.scrollLeft / items[0].getBoundingClientRect().width);\n        dots.forEach((d, i) => d.classList.toggle('is-active', i === activeIndex));\n      };\n\n      prevBtn.addEventListener('click', () => {\n        track.scrollBy({ left: -items[0].getBoundingClientRect().width - 24, behavior: reduceMotion ? 'auto' : 'smooth' });\n      });\n      nextBtn.addEventListener('click', () => {\n        track.scrollBy({ left: items[0].getBoundingClientRect().width + 24, behavior: reduceMotion ? 'auto' : 'smooth' });\n      });\n      track.addEventListener('scroll', () => {\n        window.requestAnimationFrame(updateUI);\n      }, { passive: true });\n      window.addEventListener('resize', updateUI);\n      updateUI();\n    })();\n\n    // Header gains a shadow and shrinks slightly once the page scrolls\n    const header = document.querySelector('header');\n    if (header) {\n      const toggleHeader = () => header.classList.toggle('is-scrolled', window.scrollY > 12);\n      window.addEventListener('scroll', toggleHeader, { passive: true });\n      toggleHeader();\n    }\n\n    // Subtle hero photo parallax on scroll (targets the outer wrapper so it\n    // never fights with the CSS hover scale on .hero-photo-inner)\n    const heroPhoto = document.querySelector('.hero-photo');\n    if (heroPhoto && !reduceMotion) {\n      window.addEventListener('scroll', () => {\n        const y = Math.min(window.scrollY, 400);\n        heroPhoto.style.transform = `translateY(${y * 0.08}px)`;\n      }, { passive: true });\n    }\n  </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "6383b2a7-3f78-4743-b2c2-6d7f6cf7e7a8",
      "name": "HTML"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=UTF-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "453d1676-88f9-4fc4-b41e-c39e9061235a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "efac8a13-6d8e-43cd-8329-a14a416993c6",
  "activeVersionId": "efac8a13-6d8e-43cd-8329-a14a416993c6",
  "versionCounter": 24,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-23T11:52:48.756Z",
      "createdAt": "2026-07-23T11:52:48.756Z",
      "role": "workflow:owner",
      "workflowId": "Iqv0m5qvt79evkIm",
      "projectId": "Z1zoOkJKyzxUOHEg",
      "project": {
        "updatedAt": "2026-07-22T11:49:39.168Z",
        "createdAt": "2026-07-22T11:47:51.736Z",
        "id": "Z1zoOkJKyzxUOHEg",
        "name": "Marcelo ArtEthan <artethan.ai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "c9e875c1-b3ff-4626-ad6a-815a3474c455"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version efac8a13",
    "description": ""
  }
}